@page "/forms"
@inherits FormsModel
@using BlazorComponents.Examples.Components;

<TitlePage>Forms</TitlePage>

<div class="preview-box">
    <h2>FieldText</h2>

    <SectionBox Col="12">
        <div class="row">
            <FieldText Col="3" Model="PersonExample" Label="@nameof(PersonObj.Name)" @bind-Value="PersonObj.Name" />
            <FieldText Col="3" Model="PersonExample" Label="@nameof(PersonObj.Surname)" @bind-Value="PersonObj.Surname" />
        </div>
    </SectionBox>

    <CodeBox Col="12">
        &lt;FieldText
        Model=&quot;ModelName&quot;
        Label=&quot;&#64;nameof(Obj.Property)&quot;
        &#64;bind-Value=&quot;Obj.Name&quot; Col=&quot;12&quot; /&gt;
    </CodeBox>

    <div class="clearfix" />
</div>

<div class="preview-box">
    <h2>FieldNumber</h2>

    <SectionBox Col="12">
        <div class="row">
            <FieldNumber Col="2" Model="PersonExample" ValueType="int" Label="@nameof(PersonObj.Age)" @bind-Value="PersonObj.Age" />
        </div>
    </SectionBox>

    <CodeBox Col="12">
        &lt;FieldNumber
        Model=&quot;ModelName&quot;
        ValueType=&quot;int&quot;
        Label=&quot;&#64;nameof(Obj.Property)&quot;
        &#64;bind-Value=&quot;Obj.Name&quot; Col=&quot;12&quot; /&gt;
    </CodeBox>

    <div class="clearfix" />
</div>

<div class="preview-box">
    <h2>FieldDate</h2>

    <SectionBox Col="12">
        <div class="row">
            <FieldDate Col="3" Model="PersonExample" ValueType="DateTime" Label="@nameof(PersonObj.Birthday)" @bind-Value="PersonObj.Birthday" />
        </div>
    </SectionBox>

    <CodeBox Col="12">
        &lt;FieldDate
        Model=&quot;ModelName&quot;
        ValueType=&quot;DateTime&quot;
        Label=&quot;&#64;nameof(Obj.Property)&quot;
        &#64;bind-Value=&quot;Obj.Name&quot; Col=&quot;12&quot; /&gt;
    </CodeBox>

    <div class="clearfix" />
</div>