@page "/forms"
@inherits FormsModel
@using BlazorComponents.Examples.Components;

<TitlePage>Forms</TitlePage>

<div class="preview-box">
    <h2>FieldText</h2>

    <SectionBox HasRow="true">
        <FieldText Col="3" Model="PersonExample" Label="@nameof(PersonObj.Name)" @bind-Value="PersonObj.Name" />
        <FieldText Col="3" Model="PersonExample" Label="@nameof(PersonObj.Surname)" @bind-Value="PersonObj.Surname" />
    </SectionBox>

    <CodeBox>
        &lt;FieldText
        Model="ModelName"
        Label="&#64;nameof(Obj.Property)"
        &#64;bind-Value="Obj.Name" Col="12" /&gt;
    </CodeBox>

    <div class="clearfix" />
</div>

<div class="preview-box">
    <h2>FieldNumber</h2>

    <SectionBox>
        <div class="row">
            <FieldNumber Col="2" Model="PersonExample" ValueType="int" Label="@nameof(PersonObj.Age)" @bind-Value="PersonObj.Age" />
        </div>
    </SectionBox>

    <CodeBox>
        &lt;FieldNumber
        Model="ModelName"
        ValueType="int"
        Label="&#64;nameof(Obj.Property)"
        &#64;bind-Value="Obj.Name" Col="12" /&gt;
    </CodeBox>

    <div class="clearfix" />
</div>

<div class="preview-box">
    <h2>FieldDate</h2>

    <SectionBox>
        <div class="row">
            <FieldDate Col="3" Model="PersonExample" ValueType="DateTime" Label="@nameof(PersonObj.Birthday)" @bind-Value="PersonObj.Birthday" />
        </div>
    </SectionBox>

    <CodeBox>
        &lt;FieldDate
        Model="ModelName"
        ValueType="DateTime"
        Label="&#64;nameof(Obj.Property)"
        &#64;bind-Value="Obj.Name" Col="12" /&gt;
    </CodeBox>

    <div class="clearfix" />
</div>