@page "/forms"
@using BlazorComponents.Examples.Components

<TitlePage>Forms</TitlePage>

<div class="col-md-6 p-0">
    <SectionBox>
        <FieldText  />
    </SectionBox>
</div>

<div class="col-md-6">
    <CodeBox>
        &lt;SectionBox&gt; <br />
        &nbsp; &nbsp; Content <br />
        &lt;/SectionBox&gt;
    </CodeBox>
</div>

@code {


}
