@page "/"

<h1>Blazor Components</h1>

<hr />

<p>
    <strong>Descrição: </strong> Aplicação simples em .Net Core 3.1 apresentando a utilização de componentes UI em Blazor.
</p>

<p>
    Veja mais em: <a href="https://github.com/amandasdn/" target="_blank">github.com/<strong>amandasdn</strong> <i class="fas fa-external-link-alt pl-5" /></a>
</p>